@import 'colors/gruvbox.css';

* {
    border: none;
    border-radius: 0;

    font-family: "Cascadia Code NF SemiBold";
    font-size: 16px;

    min-height: 0;
    padding: 0;
    margin: 1px;
}

window#waybar {
        background: transparent;
}

/* tooltip { */
/* } */

/* tooltip label { */
/* } */


#custom-uptime, #clock, #cpu, #memory, #temperature, #workspaces, #submap,
#mpris, #pulseaudio, #network, #disk, #tray {
        background-color: @bg0;
        border: 2px solid @bg1;
        color: @fg0;

        padding: 1px 8px;
        margin: 0 5px;
        border-radius: 18px;
}

#custom-uptime {
        color: @bright_green;
}

#cpu {
    color: @bright_magenta;
}

#memory {
    color: @bright_magenta;
}

#temperature {
    color: @bright_magenta;
}
#temperature.critical {
    background-color: @bright_magenta;
    color: @bg0;
    border: 2px solid @magenta;
}


#clock {
        color: @bright_blue;
}

#workspaces button {
        padding: 0 5px;
        margin: 0 3px;
        border-radius: 50px;

        color: transparent;
        background-color: @bg2;
        transition: all 0.3s ease-in-out
}
#workspaces button.active {
        background-color: @bright_yellow;
        min-width: 50px;
        transition: all 0.3s ease-in-out
}
#workspaces button.urgent {
        background-color: @bright_red;
        transition: all 0.3s ease-in-out
}
#workspaces button:hover {
        min-width: 50px;
        background: @bright_orange;
        transition: all 0.3s ease-in-out;
        box-shadow: none
}

#submap {
        /* background: @bright_red; */
        /* border-color: @red; */
        background-color: @bright_red;
        border: 2px solid @red;
        color: @bg0;
}

#mpris {
        background-color: @bright_cyan;
        border: 2px solid @cyan;
        color: @bg0;
}

#pulseaudio {
        color: @bright_cyan;
}
#pulseaudio.muted {
        background-color: @bright_cyan;
        border: 2px solid @cyan;
        color: @bg0;
}

#network {
        color: @bright_magenta;
}
#network.disconnected {
        background-color: @bright_magenta;
        border: 2px solid @magenta;
        color: @bg0;
}

#disk {
    color: @disk-color;
    border-bottom-color: @disk-color;
}
